.allproductsbanner{
    position: relative;
    margin-bottom: 50px;
    height: 80vh;
    overflow: hidden;
}

.allproductsbanner img{
    width: 100%;
}

.allproductsbannerChild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    padding: 34px;
    width: 100%;
    color: white;
    text-transform: uppercase;
}


@media (max-width:768px) {
    .allproductsbannerChild p {
        font-size: 0.8em;
    }
    .allproductsbannerChild h2 {
        font-size: 1.2em;
    }
}

@media (max-width:500px) {
    .allproductsbanner {
        height: auto;
    }
    .allproductsbannerChild {
        top: 33%;
    }
}