.banner{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.banner img{
    width: 100%;
    align-items: center;
}

.bannerChild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    padding: 34px;
    width: 100%;
    color: white;
    text-transform: uppercase;
}

.bannerChild h2 {
    font-size: 2em;
    text-align: center;
}

@media (max-width:500px) {
    .bannerChild {
        top: 20%;
    }
}

@media (max-width:768px) {
    .bannerChild p {
        font-size: 1em;
    }
    .bannerChild h2 {
        font-size: 1.1em;
    }
    .banner {
        height: auto
    }
}